table {
    table-layout: fixed;
}

table,
tr,
td {
    border: 1px solid black !important;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    vertical-align: middle !important;
}

table th {
    border: 2px solid black !important;
    background-color: #a1735c !important;
    color: white;
}

tbody tr:hover {
    background-color: #F99417 !important;
}

tbody tr:nth-child(even) {
    background-color: #e7e7e7;
}

th, td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

label {
    margin: 0;
}

.memo-btn {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin: 0 0 0 5px;
}

.detail-btn {
    width: auto;
    display: block !important;
}

.confirmRow{
    align-items: normal !important;
}

/**
    TOGGLE BUTTON
*/
.can-toggle {
    position: relative;
}

.can-toggle *,
.can-toggle *:before,
.can-toggle *:after {
    box-sizing: border-box;
}

.can-toggle input[type=checkbox] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.can-toggle input[type=checkbox][disabled]~label {
    pointer-events: none;
}

.can-toggle input[type=checkbox][disabled]~label .can-toggle__switch {
    opacity: 0.4;
}

.can-toggle input[type=checkbox]:checked~label .can-toggle__switch:before {
    content: attr(data-checked);
    left: 0;
}

.can-toggle input[type=checkbox]:checked~label .can-toggle__switch:after {
    content: attr(data-unchecked);
}

.can-toggle label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.can-toggle label .can-toggle__label-text {
    flex: 1;
    padding-left: 32px;
}

.can-toggle label .can-toggle__switch {
    position: relative;
}

.can-toggle label .can-toggle__switch:before {
    content: attr(data-unchecked);
    position: absolute;
    top: 0;
    text-align: center;
}

.can-toggle label .can-toggle__switch:after {
    content: attr(data-checked);
    position: absolute;
    z-index: 1;
    text-align: center;
    background: white;
    transform: translate3d(0, 0, 0);
}

.can-toggle input[type=checkbox][disabled]~label {
    color: #55bc49;
}

.can-toggle input[type=checkbox]:focus~label .can-toggle__switch,
.can-toggle input[type=checkbox]:hover~label .can-toggle__switch {
    background-color: #55bc49;
}

.can-toggle input[type=checkbox]:focus~label .can-toggle__switch:after,
.can-toggle input[type=checkbox]:hover~label .can-toggle__switch:after {
    color: #55bc49;
}

.can-toggle input[type=checkbox]:hover~label {
    color: #55bc49;
}

.can-toggle input[type=checkbox]:checked~label:hover {
    color: #55bc49;
}

.can-toggle input[type=checkbox]:checked~label .can-toggle__switch {
    background-color: #777;
}

.can-toggle input[type=checkbox]:checked~label .can-toggle__switch:after {
    color: #777;
}

.can-toggle input[type=checkbox]:checked:focus~label .can-toggle__switch,
.can-toggle input[type=checkbox]:checked:hover~label .can-toggle__switch {
    background-color: #777;
}

.can-toggle input[type=checkbox]:checked:focus~label .can-toggle__switch:after,
.can-toggle input[type=checkbox]:checked:hover~label .can-toggle__switch:after {
    color: #777;
}

.can-toggle label .can-toggle__switch {
    transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
    background: #55bc49;
}

.can-toggle label .can-toggle__switch:before {
    color: rgba(255, 255, 255, 0.5);
}

.can-toggle label .can-toggle__switch:after {
    transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
    color: #55bc49;
}

.can-toggle input[type=checkbox]:focus~label .can-toggle__switch:after,
.can-toggle input[type=checkbox]:hover~label .can-toggle__switch:after {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}

.can-toggle input[type=checkbox]:checked~label .can-toggle__switch:after {
    transform: translate3d(46px, 0, 0);
}

.can-toggle input[type=checkbox]:checked:focus~label .can-toggle__switch:after,
.can-toggle input[type=checkbox]:checked:hover~label .can-toggle__switch:after {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}

.can-toggle label {
    font-size: 14px;
}

.can-toggle label .can-toggle__switch {
    height: fit-content;
    flex: 0 0 100px;
    border-radius: 4px;
}

.can-toggle label .can-toggle__switch:before {
    left: 50px;
    font-size: 12px;
    line-height: 36px;
    width: 50px;
    /* padding: 0 12px; */
}

.can-toggle label .can-toggle__switch:after {
    top: 2px;
    left: 2px;
    border-radius: 2px;
    width: fit-content;
    line-height: 32px;
    font-size: 12px;
}

.can-toggle label .can-toggle__switch:hover:after {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}

.can-toggle.can-toggle--size-large input[type=checkbox]:focus~label .can-toggle__switch:after,
.can-toggle.can-toggle--size-large input[type=checkbox]:hover~label .can-toggle__switch:after {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.can-toggle.can-toggle--size-large input[type=checkbox]:checked~label .can-toggle__switch:after {
    transform: translate3d(46px, 0, 0);
}

.can-toggle.can-toggle--size-large input[type=checkbox]:checked:focus~label .can-toggle__switch:after,
.can-toggle.can-toggle--size-large input[type=checkbox]:checked:hover~label .can-toggle__switch:after {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.can-toggle.can-toggle--size-large label {
    font-size: 14px;
}

.can-toggle.can-toggle--size-large label .can-toggle__switch {
    height: 50px;
    flex: 0 0 100px;
    border-radius: 4px;
}

.can-toggle.can-toggle--size-large label .can-toggle__switch:before {
    /* left: 80px; */
    font-size: 14px;
    line-height: 50px;
    width: 50px;
    /* padding: 0 12px; */
}

.can-toggle.can-toggle--size-large label .can-toggle__switch:after {
    top: 2px;
    left: 2px;
    border-radius: 2px;
    width: 50px;
    line-height: 46px;
    font-size: 14px;
}

.can-toggle.can-toggle--size-large label .can-toggle__switch:hover:after {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

/*
  ******  RESPONSIVE LAYOUT  ******
*/
@media screen and (max-width: 1200px) {
    .can-toggle label .can-toggle__switch:before {
        line-height: 36px;
    }
    
    .can-toggle label .can-toggle__switch:after {
        line-height: 32px;
    }

    .can-toggle.can-toggle--size-large label .can-toggle__switch {
        height: 45px;
    }
    
    .can-toggle.can-toggle--size-large label .can-toggle__switch:before {
        line-height: 45px;
    }
    
    .can-toggle.can-toggle--size-large label .can-toggle__switch:after {
        line-height: 41px;
        height: 41px;
    }
}

@media screen and (max-width: 768) {
    .can-toggle label .can-toggle__switch:before {
        line-height: 30px;
    }
    
    .can-toggle label .can-toggle__switch:after {
        line-height: 30px;
    }

    .can-toggle.can-toggle--size-large label .can-toggle__switch {
        height: 40px;
    }
    
    .can-toggle.can-toggle--size-large label .can-toggle__switch:before {
        line-height: 40px;
    }
    
    .can-toggle.can-toggle--size-large label .can-toggle__switch:after {
        line-height: 32px;
        height: 36px;
    }
}
