button {
    width: 100%;
    height: 100%;
    background-color: white;
    border: 0;
}

table {
    table-layout: fixed;
}

table, tr, td {
    border: 1px solid black !important;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
}

table th {
    border: 2px solid black !important;
    background-color: #a1735c !important;
    color: white;
}

tbody tr:hover {
    background-color: #F99417 !important;
}

tbody tr:nth-child(even) {
    background-color: #e7e7e7;
}

td, th {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}