table {
    border: 1px solid #ced4da;
    table-layout: fixed;
}

#detail-img {
    border-style: solid;
    border-color: #ced4da !important;
}

img {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: auto;
    padding-right: auto;
    width: auto;
    height: 300px;
}

.table td {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

td {
    vertical-align: middle !important;
    border: none !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.divider-text {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.divider-text span {
    margin-left: 5% !important;
}

.memo-btn {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin: 0 0 0 5px;
}

.detail-btn {
    width: auto;
    margin-right: 0;
}

/*
  ******  RESPONSIVE LAYOUT  ******
*/
@media screen and (max-width: 900px) {
	img {
        width: 100%;
        height: 285px;
    }
}

@media screen and (max-width: 660px) {
    #detail-img {
        max-height: 265px !important;
    }

	img {
        width: 100%;
        max-height: 265px;
    }
}
